langchain
langgraph
langchain-google-genai
langchain-groq
langchain-core
python-dotenv
logging
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio   